
- name: spiderfoot - Install system dependencies for lxml
  apt:
    name:
      - libxml2-dev
      - libxslt1-dev
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - spiderfoot
    - OSINT

- name: spiderfoot - Ensure Programs directory exists
  become: yes
  become_user: "{{ login_user }}"
  file:
    path: "{{ login_home }}/Programs"
    state: directory
    mode: "0755"
  tags:
    - spiderfoot
    - OSINT

- name: spiderfoot - Clone spiderfoot repository
  become: yes
  become_user: "{{ login_user }}"
  git:
    repo: https://github.com/smicallef/spiderfoot.git
    dest: "{{ login_home }}/Programs/spiderfoot"
    update: yes
  tags:
    - spiderfoot
    - OSINT

- name: spiderfoot - Create virtual environment
  become: yes
  become_user: "{{ login_user }}"
  command:
    cmd: python3 -m venv venv
    chdir: "{{ login_home }}/Programs/spiderfoot"
    creates: "{{ login_home }}/Programs/spiderfoot/venv"
  tags:
    - spiderfoot
    - OSINT

- name: spiderfoot - Install compatible lxml version (Python 3.13 fix)
  become: yes
  become_user: "{{ login_user }}"
  pip:
    name: "lxml>=5.0"
    virtualenv: "{{ login_home }}/Programs/spiderfoot/venv"
  tags:
    - spiderfoot
    - OSINT

- name: spiderfoot - Install requirements in venv (excluding lxml)
  become: yes
  become_user: "{{ login_user }}"
  shell: |
    grep -v '^lxml' requirements.txt | {{ login_home }}/Programs/spiderfoot/venv/bin/pip install -r /dev/stdin
  args:
    chdir: "{{ login_home }}/Programs/spiderfoot"
  tags:
    - spiderfoot
    - OSINT

