
- name: roadtx - create project directory for "{{ login_user }}" user
  file:
    path: "{{ login_home }}/roadtx"
    state: directory
    owner: "{{ login_user }}"
    group: "{{ login_user }}"
    mode: "0755"
  tags:
    - roadtx
    - cloud

- name: roadtx - create Python virtualenv (runs as "{{ login_user }}")
  command: python3 -m venv "{{ login_home }}"/roadtx/venv
  args:
    creates: "{{ login_home }}/roadtx/venv/bin/activate"
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - roadtx
    - cloud

- name: roadtx - install roadtx inside the virtualenv (runs as "{{ login_user }}")
  pip:
    name: roadtx
    virtualenv: "{{ login_home }}/roadtx/venv"
    virtualenv_python: python3
    state: latest              # change to “present” if you prefer pinning
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - roadtx
    - cloud

- name: roadtx - create global wrapper in /usr/local/bin
  file:
    src: "{{ login_home }}/roadtx/venv/bin/roadtx"
    dest: /usr/local/bin/roadtx
    state: link
    force: yes                 # overwrite if link already exists
  tags:
    - roadtx
    - cloud