
- name: scoutsuite - create project directory for "{{ login_user }}" user
  file:
    path: "{{ login_home }}/scoutsuite"
    state: directory
    owner: "{{ login_user }}"
    group: "{{ login_user }}"
    mode: "0755"
  tags:
    - scoutsuite
    - cloud

- name: scoutsuite - create Python virtualenv (runs as "{{ login_user }}")
  command: python3 -m venv "{{ login_home }}"/scoutsuite/venv
  args:
    creates: "{{ login_home }}/scoutsuite/venv/bin/activate"
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - scoutsuite
    - cloud

- name: scoutsuite - install scoutsuite inside the virtualenv (runs as "{{ login_user }}")
  pip:
    name: scoutsuite
    virtualenv: "{{ login_home }}/scoutsuite/venv"
    virtualenv_python: python3
    state: latest              # change to “present” if you prefer pinning
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - scoutsuite
    - cloud

- name: scoutsuite - create global wrapper in /usr/local/bin
  file:
    src: "{{ login_home }}/scoutsuite/venv/bin/scout"
    dest: /usr/local/bin/scout
    state: link
    force: yes                 # overwrite if link already exists
  tags:
    - scoutsuite
    - cloud