
- name: SeamlessPass - create project directory for "{{ login_user }}" user
  file:
    path: "{{ login_home }}/seamlesspass"
    state: directory
    owner: "{{ login_user }}"
    group: "{{ login_user }}"
    mode: "0755"
  tags:
    - seamlesspass
    - cloud

- name: SeamlessPass - create Python virtualenv (runs as "{{ login_user }}")
  command: python3 -m venv "{{ login_home }}"/seamlesspass/venv
  args:
    creates: "{{ login_home }}/seamlesspass/venv/bin/activate"
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - seamlesspass
    - cloud

- name: SeamlessPass - install SeamlessPass inside the virtualenv (runs as "{{ login_user }}")
  pip:
    name: seamlesspass
    virtualenv: "{{ login_home }}/seamlesspass/venv"
    virtualenv_python: python3
    state: latest              # change to “present” if you prefer pinning
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - seamlesspass
    - cloud

- name: SeamlessPass - create global wrapper in /usr/local/bin
  file:
    src: "{{ login_home }}/seamlesspass/venv/bin/seamlesspass"
    dest: /usr/local/bin/seamlesspass
    state: link
    force: yes
  tags:
    - seamlesspass
    - cloud