
- name: certipy - create project directory for {{ login_user }} user
  file:
    path: "{{ login_home }}/certipy"
    state: directory
    owner: "{{ login_user }}"
    group: "{{ login_user }}"
    mode: "0755"
  tags:
    - certipy
    - AD

- name: certipy - create Python virtualenv (runs as {{ login_user }})
  command: python3 -m venv "{{ login_home }}"/certipy/venv
  args:
    creates: "{{ login_home }}/certipy/venv/bin/activate"
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - certipy
    - AD

- name: certipy - install certipy inside the virtualenv (runs as {{ login_user }})
  pip:
    name: certipy-ad
    virtualenv: "{{ login_home }}/certipy/venv"
    virtualenv_python: python3
    state: latest              # change to “present” if you prefer pinning
  become: yes
  become_user: "{{ login_user }}"
  tags:
    - certipy
    - AD

- name: certipy - create global wrapper in /usr/local/bin
  file:
    src: "{{ login_home }}/certipy/venv/bin/certipy-ad"
    dest: /usr/local/bin/certipy-ad
    state: link
    force: yes
  tags:
    - certipy
    - AD