- name: DonPAPI - install lxml build dependencies
  become: yes
  ansible.builtin.apt:
    name:
      - build-essential
      - libxml2-dev
      - libxslt1-dev
      - zlib1g-dev
      - python3-dev
      - cython3
      - pkg-config
    state: present
  tags:
    - DonPAPI
    - AD

- name: DonPAPI - ensure pipx PATH for {{ login_user }}
  become: yes
  become_user: "{{ login_user }}"
  ansible.builtin.command: python3 -m pipx ensurepath --force
  changed_when: false   # running it twice is harmless; we suppress "changed"
  tags:
    - DonPAPI
    - AD

- name: DonPAPI - upgrade pip in pipx shared environment
  become: yes
  become_user: "{{ login_user }}"
  ansible.builtin.pip:
    name:
      - pip
      - wheel
      - Cython
    state: latest
    extra_args: --user
  tags:
    - DonPAPI
    - AD

- name: DonPAPI - install/upgrade DonPAPI via pipx
  become: yes
  become_user: "{{ login_user }}"
  community.general.pipx:
    name: donpapi
    state: latest
  tags:
    - DonPAPI
    - AD