- name: DonPAPI - install python3-lxml system package
  become: yes
  ansible.builtin.apt:
    name:
      - python3-lxml
    state: present
  tags:
    - DonPAPI
    - AD

- name: DonPAPI - ensure pipx PATH for {{ login_user }}
  become: yes
  become_user: "{{ login_user }}"
  ansible.builtin.command: python3 -m pipx ensurepath --force
  changed_when: false   # running it twice is harmless; we suppress "changed"
  tags:
    - DonPAPI
    - AD

- name: DonPAPI - install/upgrade DonPAPI via pipx with system-site-packages
  become: yes
  become_user: "{{ login_user }}"
  ansible.builtin.command:
    cmd: pipx install donpapi --system-site-packages --force
  register: pipx_result
  changed_when: "'installed package' in pipx_result.stdout or 'upgraded' in pipx_result.stdout"
  failed_when: pipx_result.rc != 0 and 'already' not in pipx_result.stderr
  tags:
    - DonPAPI
    - AD