
- name: kerbrute - download & install
  ansible.builtin.get_url:
    url: "https://github.com/ropnop/kerbrute/releases/download/v1.0.3/kerbrute_linux_amd64"
    dest: "/usr/local/bin/kerbrute"
    mode: "0755"
    owner: root
    group: root
    force: no          # skip download if exact same file already present
  tags:
    - kerbrute
    - AD