
- name: meowEye - clone repository to /opt
  become: true
  ansible.builtin.git:
    repo: https://github.com/eslam3kl/meowEye.git
    dest: /opt/meowEye
    version: main
    force: yes
  tags:
    - meowEye
    - web

- name: meowEye - install requirements via pip
  become: true
  ansible.builtin.pip:
    requirements: /opt/meowEye/requirements.txt
    state: present
  tags:
    - meowEye
    - web

- name: meowEye - ensure chromium browser is installed
  become: true
  apt:
    name:
      - chromium
      - chromium-driver
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - meowEye
    - web

- name: meowEye - create symlink to /usr/local/bin
  become: true
  ansible.builtin.file:
    src: /opt/meowEye/meowEye.py
    dest: /usr/local/bin/meowEye
    state: link
  tags:
    - meowEye
    - web

- name: meowEye - make script executable
  become: true
  ansible.builtin.file:
    path: /opt/meowEye/meowEye.py
    mode: '0755'
  tags:
    - meowEye
    - web

