
- name: impacket - ensure pipx PATH for "{{ login_user }}"
  become: yes
  become_user: "{{ login_user }}"
  ansible.builtin.command: python3 -m pipx ensurepath --force
  changed_when: false   # running it twice is harmless; we suppress “changed”
  tags:
    - impacket
    - common

- name: impacket - install/upgrade impacket via pipx
  become: yes
  become_user: "{{ login_user }}"
  community.general.pipx:
    name: impacket
    state: latest       # upgrades if an older version is present
  tags:
    - impacket
    - common