
- name: Update indexes and perform full upgrade
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    cache_valid_time: 3600
  tags:
    - core
    - common

- name: Run vmware mount
  import_tasks: vmware.yml

- name: Install core packages
  apt:
    name:
      - zsh
      - docker.io
      - docker-compose
      - python3
      - python3-pip
      - python3-virtualenv
      - python3-lxml
      - git
      - pipx
      - golang
      - jq
      - git
      - build-essential
      - freerdp3-x11
      - unzip
      - libssl-dev
      - pkg-config
      - gcc
      - libpcre2-dev
      - vim
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - core
    - common

- name: Run tmux setup
  import_tasks: tmux.yml

- name: Run firefox quiet script
  import_tasks: firefox.yml

- name: Run disable screenlock script
  import_tasks: disable_screen_lock.yml

- name: Create stockpile
  import_tasks: stockpile.yml

- name: Run Powershell setup
  import_tasks: powershell.yml

- name: Run impacket setup
  import_tasks: im_packet.yml

- name: Run vscode setup
  import_tasks: vscode.yml

- name: Run chrome setup
  import_tasks: chrome.yml

- name: Run obsidian setup
  import_tasks: obsidian.yml

- name: Run rust setup
  import_tasks: rust.yml

#- name: Run Fix mouse pointer
#  import_tasks: fix-mouse-pointer.yml

- name: Run DuckDB setup
  import_tasks: duckdb.yml

- name: Run Mullvad VPN setup
  import_tasks: mullvad.yml