
- name: Tmux - Install tmux packages
  apt:
    name:
      - tmux
      - xsel
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - tmux
    - common

- name: Tmux - Copy .tmux.conf
  become: false
  copy:
    src: .tmux.conf
    dest: "{{ login_home }}/.tmux.conf"
    mode: "0644"
  tags:
    - tmux
    - common

- name: Ensure .tmux dirs
  become: false
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ login_home }}/.tmux"
    - "{{ login_home }}/.tmux/plugins"
  tags:
    - tmux
    - common

- name: Clone TPM
  become: false
  git:
    repo: https://github.com/tmux-plugins/tpm.git
    dest: "{{ login_home }}/.tmux/plugins/tpm"
    depth: 1
    update: yes
  tags:
    - tmux
    - common

- name: Tmux - add quick reminder read-me
  become: false
  ansible.builtin.copy:
    dest: "{{ login_home }}/Tmux_README_First_RUN.txt"
    mode: "0644"
    content: |
      tmux source {{ login_home }}/.tmux.conf
      prefix > shift + i
  tags:
    - tmux
    - common

- name: Tmux - Copy Tmux_cheat-sheet.txt into {{ login_home }}
  become: false
  copy:
    src: Tmux_cheat-sheet.txt
    dest: "{{ login_home }}/Tmux_cheat-sheet.txt"
    mode: "0644"
  tags:
    - tmux
    - common