
- name: Tmux - Install tmux packages
  apt:
    name:
      - tmux
      - xsel
    state: present
    update_cache: yes
    cache_valid_time: 3600
  tags:
    - tmux
    - common

- name: Tmux - Deploy .tmux.conf (template)
  become: false
  template:
    src: .tmux.conf
    dest: "{{ login_home }}/.tmux.conf"
    mode: "0644"
  tags:
    - tmux
    - common

- name: Ensure .tmux dirs
  become: false
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ login_home }}/.tmux"
    - "{{ login_home }}/.tmux/plugins"
  tags:
    - tmux
    - common

- name: Clone TPM
  become: false
  git:
    repo: https://github.com/tmux-plugins/tpm.git
    dest: "{{ login_home }}/.tmux/plugins/tpm"
    depth: 1
    update: yes
  tags:
    - tmux
    - common

- name: Tmux - add quick reminder read-me
  become: false
  ansible.builtin.copy:
    dest: "{{ login_home }}/Tmux_README_First_RUN.txt"
    mode: "0644"
    content: |
      First time:
      1. Start tmux:  tmux
         (your .tmux.conf is loaded automatically)
      2. Inside tmux, install TPM plugins:  prefix + Shift+I
         (prefix is Ctrl+b by default)

      To reload config later (only when tmux is already running):
        tmux source-file {{ login_home }}/.tmux.conf
  tags:
    - tmux
    - common

- name: Tmux - Copy Tmux_cheat-sheet.txt into {{ login_home }}
  become: false
  copy:
    src: Tmux_cheat-sheet.txt
    dest: "{{ login_home }}/Tmux_cheat-sheet.txt"
    mode: "0644"
  tags:
    - tmux
    - common