
- name: VMware Mount - Make sure mount-point exists
  file:
    path: /share/VMShare
    state: directory
  when: vmware_env in ["workstation", "ubuntu"]
  tags:
    - vmware
    - common

- name: VMware Mount - Mount VMShare and keep it in /etc/fstab
  mount:
    src: ".host:/VMShare"
    path: /share/VMShare
    fstype: fuse.vmhgfs-fuse
    opts: allow_other,auto_unmount,defaults
    state: present # ensure mounted - use 'present' instead of 'mounted' for idempotency
    dump: 0
    passno: 0                                   # record in fstab
  when: vmware_env in ["workstation", "ubuntu"]
  tags:
    - vmware
    - common